
<launch>

    <arg name="sim_vision" default="off"/>
    <!-- loading the camera details  -->
    <rosparam command="load" file="$(find robogpt_vision)/config/camera_params.yaml"/>
    <param name="vision_sim" value="$(arg sim_vision)" />
    
    <arg name="comp_name" default="intel"/> <!-- Options : intel, orbec, or zed2i -->
    <param name="comp_name" value="$(arg comp_name)"/>

    <!-- Launching the vision startup node -->
    <node pkg="robogpt_vision" type="node_runner.py" name="start_vision">
        <param name="node_name" value="vision_startup"/>
    </node>

    <node pkg="robogpt_vision" type="node_runner.py" name="get_world_context_service" output="screen">
        <param name="node_name" value="pose_service"/>
    </node>

    <node pkg="robogpt_vision" type="node_runner.py" name="web_feed" output="screen">
        <param name="node_name" value="web_feed"/>
    </node>
    <node pkg="auto_train_ros" type="auto_train_server.py" name="auto_train_server" output="screen" />

    
</launch>