<launch>
  <!-- Declaring arguments with default values -->

  <!-- Core robogpt arguments -->
  <arg name="robot_name" default="owl65"/>            <!--Option: owl68, sim, owl65, ec, cs-->
  <arg name="use_sim" default="false"/>               <!--Options True or False-->
  <arg name="sim_vision" default="off"/>              <!--argument to use detcttion in simulation. Options : on / off-->
  <arg name="use_case" default="base"/>               <!--Argument to load the right skills based on use-case -->
  <arg name="cam_name" default="intel"/>              <!-- Options : intel, orbec, or zed2i -->
  <arg name="robot_ip" default="10.42.0.54"/>         <!-- Option: Ip address of the robot  -->
  <arg name="setup" default="janatics"/>
  <arg name="use_vision" default="off"/>              <!--Options True or False to run vision stack or not-->

  <!-- Simulation args -->
  <arg name="gripper" default="robotiq2f85" />        <!-- Option: vacuum, pneumatic,robotiq2f85 -->
  <arg name="world" default="table" />                <!-- Option: empty, stand,table -->
  <arg name="camera" default="on" />                  <!-- Option: empty, stand,table -->
  <arg name="sim" default="on" />                     <!-- Option: simulation ON or OFF -->

  <!-- Timing arguments to control sequential startup -->
  <arg name="base_time" default="2" />                <!-- Base delay between components -->
  <arg name="hardware_delay" default="1" />           <!-- Delay before starting hardware/simulation -->
  <arg name="agent_delay" default="15" />             <!-- Delay before starting agents -->
  <arg name="vision_delay" default="15" />

  <!-- Set the type of run and running arguments -->
  <arg name="type" default="description" />           <!-- Option: description or moveit -->
  <arg name="driver" default="moveit" />              <!-- Option: both,None,  robotiq or moveit -->
  <arg name="time" default="10" />                    <!-- Option: Time to launch MoveIt -->
  <arg name="controller" default="simple" />          <!-- Options: fake, simple, or ros_control -->
  
  <!-- Declare arguments for robot description  -->
  <arg name="rviz" default="true"/>                   <!-- Option: setup the rviz True or False -->
  <arg name="js_pub" default="false"/>                <!-- Option: Use the fake joint states True or False -->
  <arg name="dual_bot" default="false"/>              <!-- Option: Dual bot setup True or False -->
  <arg name="camera_model" default="d435"/>           <!-- Option: Camera model d435 or d414 -->
  <arg name="gripper_model" default="robotiq"/>       <!-- Option: robotiq, pneumatic, spring loaded, dummy -->
  <arg name="cams" default="one"/>                    <!-- Option: number of cams need to use: one or two -->


  <!-- Setting up parameters -->
  <param name="setup" value="$(arg setup)"/>
  <param name="use_sim" value="$(arg use_sim)"/>


  <!-- RUNNING LAUNCH FILES SEQUENTIALLY -->
  <!-- 1. Welcome message (immediate) -->
  <node pkg="robogpt_bringup" type="bringup_art.py" name="Welcome_msg" output="screen" />
    

  <!-- 2. Launch simulation or hardware with delay -->
  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch" if="$(arg use_sim)">
    <arg name="time" value="$(arg hardware_delay)" />
    <arg name="pkg" value="sim_bringup" />
    <arg name="file" value="sim_bringup.launch" />
    <arg name="value" value="gripper:=$(arg gripper) world:=$(arg world) camera:=$(arg camera) sim:=$(arg sim) time:=$(arg base_time) robot_name:=$(arg robot_name)" />
    <arg name="node_name" value="timed_sim_bringup" />
  </include>

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch" unless="$(arg use_sim)">
    <arg name="time" value="$(arg hardware_delay)" />
    <arg name="pkg" value="hardware_bringup" />
    <arg name="file" value="bringup.launch" />
    <arg name="value" value="type:=$(arg type) driver:=$(arg driver) time:=$(arg base_time) controller:=$(arg controller) rviz:=$(arg rviz) js_pub:=$(arg js_pub) robot_name:=$(arg robot_name) dual_bot:=$(arg dual_bot) camera_model:=$(arg camera_model) gripper_model:=$(arg gripper_model) cams:=$(arg cams) robot_ip:=$(arg robot_ip)" />
    <arg name="node_name" value="timed_hardware_bringup" />
  </include>

  <!-- 3. Launch the agents to control bot with delay -->
  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="$(arg agent_delay)" />
    <arg name="pkg" value="robogpt_agents" />
    <arg name="file" value="agent_bringup.launch" />
    <arg name="value" value="robot_name:=$(arg robot_name) use_case:=$(arg use_case) use_sim:=$(arg use_sim) setup:=$(arg setup) output:=screen" />
    <arg name="node_name" value="timed_agent_bringup" />
  </include>

  <!-- 4. Run the vision stack with the longest delay -->
  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch" if="$(arg use_vision)">
    <arg name="time" value="$(arg vision_delay)" />
    <arg name="pkg" value="robogpt_vision" />
    <arg name="file" value="vision_bringup.launch" />
    <arg name="value" value="sim_vision:=$(arg sim_vision) comp_name:=$(arg cam_name)" />
    <arg name="node_name" value="timed_vision" />
  </include>

</launch>